* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #222;
}
 #navbar {
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    text-align: center;
    align-items:center;
    font-size: 14px;
    display: flex;
}
#navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.5;
    text-decoration: none;
    margin: 50px;
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.2;
} 

#logo {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

#campains {
    padding: 0px;
    font-size: 15px;
 justify-content: center;
 margin-top: 60px; 
 height: 42px;
 background-color: #545454;
 text-align: center;
 align-items:center; 
 vertical-align: baseline; 
 display:flex;
 color: white;
 font-weight: 100;
 font-family: Roboto,sans-serif;
 font-size: 14px;
}
#campains-text {
    text-decoration: none;
    color: white;
}
p {
    justify-content: center;
}
.blocks-1 h1 {
    line-height: 1;
    font-weight: 300;
    font-size: 3.5rem;
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.blocks-1 h4 {
    font-family: "RazerF5",Arial,Helvetica,sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blocks-1 a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.blocks-1{
    text-align: center;
    height: 700px;
    width: 100%;
    color: white;
    margin-top: 10px;
    padding-top: 90px;
}
 #block-one{
     background-image: url(images/desktop-1.jpg);
     background-size: cover;
     background-position: center center;
 }  
 #block-two {
     background-image: url(images/desktop-2.jpg);
     background-size: cover;
     background-position: center center;
 }
 #block-three {
     background-image: url(images/desktop-3.jpg);
     background-size: cover;
     background-position: center center;
 }
#container-1 {
    margin-top: 10px;
    padding-right: 10px;
    float: left;
    width: 50%;
    margin-bottom: 10px;
}
#container-2 {
    margin-top: 10px;
    float: right;
    width: 50%;
    margin-bottom: 10px;
}
.table {
    color: white;
    text-align: center;
    height: 570px;
}
.table h1 {
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.table h4 {
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
#razer {    
    background-image: url(images/desktop-4.jpg);
    background-size: cover;
    background-position: center center;
}
#blade {
    background-image: url(images/desktop-6.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 10px;
}
#back {
    background-image: url(images/desktop-8.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 10px;
}
#your {
    background-image: url(images/desktop-5.jpg);
    background-size: cover;
    background-position: center center;

}
#all {
    background-image: url(images/desktop-7.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 10px;

}
#cortex {
    background-image: url(images/desktop-9.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 10px;
}
.table {
    font-weight: 500;
    padding-top: 54px;
    font-family: "RazerF5",Arial,Helvetica,sans-serif;
}
.row {      
    background-color: #111;
    padding: 25px 125px;
}
#frame {
    display:flex
}
.label-container {
    color: white;
    margin: 10px;
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 12px;
}
.col-footer-top li {
    margin: 10px 0px;
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.col-footer-top a {
    padding: 0px;
    margin: 10px;
    color: #999;
    text-decoration: none;
    list-style: none;
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 12px;
}
.social {
    margin-top: 7px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    float: right;
    margin-right: 40px;
}
#social-text {
    font-size: 0.9rem;
        color: #44d62c;
    font-family: RazerF5, Arial;
}